<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="teste()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button
        [style.color]="myFavorite ? '#f44336' : ''"
        aria-label="Example icon-button with heart icon"
        (click)="toggleFavorite()">
            <mat-icon>{{ myFavorite ? 'favorite' : 'favorite_border' }}</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
</p>